extends layout

block content
  .row
    form.col.s6.offset-s3
      .row
        .input-field.col.s3
          p Категория
        .input-field.col.s9
          input#A(type='checkbox' value='A')
          label(for='A') A
          .box-check
            input#vost(type='checkbox' value='Восточный')
            label(for='vost') Восточный    
            
