.row.bg
  .row
    .col.s12
      div.head-text.center
        h3.
          Подберем автошколу в удобном месте по лучшей цене!
  .row        
    .col.s6
    .col.s6
      form(action="/" method="POST" role='form')
        .row
          .col.s3
            p Категория
          .col.s9
            p
              input#a.waves-effect.waves-light.btn(type='checkbox')
              label(for='a') red
